// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$camera-name: 'camera';
$camera-x: 130px;
$camera-y: 0px;
$camera-offset-x: -130px;
$camera-offset-y: 0px;
$camera-width: 130px;
$camera-height: 100px;
$camera-total-width: 484px;
$camera-total-height: 354px;
$camera-image: 'bank-sprite.png';
$camera: (130px, 0px, -130px, 0px, 130px, 100px, 484px, 354px, 'bank-sprite.png', 'camera', );
$flash-active-name: 'flash-active';
$flash-active-x: 112px;
$flash-active-y: 242px;
$flash-active-offset-x: -112px;
$flash-active-offset-y: -242px;
$flash-active-width: 112px;
$flash-active-height: 112px;
$flash-active-total-width: 484px;
$flash-active-total-height: 354px;
$flash-active-image: 'bank-sprite.png';
$flash-active: (112px, 242px, -112px, -242px, 112px, 112px, 484px, 354px, 'bank-sprite.png', 'flash-active', );
$flash-default-name: 'flash-default';
$flash-default-x: 112px;
$flash-default-y: 130px;
$flash-default-offset-x: -112px;
$flash-default-offset-y: -130px;
$flash-default-width: 112px;
$flash-default-height: 112px;
$flash-default-total-width: 484px;
$flash-default-total-height: 354px;
$flash-default-image: 'bank-sprite.png';
$flash-default: (112px, 130px, -112px, -130px, 112px, 112px, 484px, 354px, 'bank-sprite.png', 'flash-default', );
$folder-small-name: 'folder-small';
$folder-small-x: 372px;
$folder-small-y: 178px;
$folder-small-offset-x: -372px;
$folder-small-offset-y: -178px;
$folder-small-width: 44px;
$folder-small-height: 38px;
$folder-small-total-width: 484px;
$folder-small-total-height: 354px;
$folder-small-image: 'bank-sprite.png';
$folder-small: (372px, 178px, -372px, -178px, 44px, 38px, 484px, 354px, 'bank-sprite.png', 'folder-small', );
$folder-name: 'folder';
$folder-x: 372px;
$folder-y: 112px;
$folder-offset-x: -372px;
$folder-offset-y: -112px;
$folder-width: 76px;
$folder-height: 66px;
$folder-total-width: 484px;
$folder-total-height: 354px;
$folder-image: 'bank-sprite.png';
$folder: (372px, 112px, -372px, -112px, 76px, 66px, 484px, 354px, 'bank-sprite.png', 'folder', );
$panorama-active-name: 'panorama-active';
$panorama-active-x: 260px;
$panorama-active-y: 112px;
$panorama-active-offset-x: -260px;
$panorama-active-offset-y: -112px;
$panorama-active-width: 112px;
$panorama-active-height: 112px;
$panorama-active-total-width: 484px;
$panorama-active-total-height: 354px;
$panorama-active-image: 'bank-sprite.png';
$panorama-active: (260px, 112px, -260px, -112px, 112px, 112px, 484px, 354px, 'bank-sprite.png', 'panorama-active', );
$panorama-default-name: 'panorama-default';
$panorama-default-x: 0px;
$panorama-default-y: 242px;
$panorama-default-offset-x: 0px;
$panorama-default-offset-y: -242px;
$panorama-default-width: 112px;
$panorama-default-height: 112px;
$panorama-default-total-width: 484px;
$panorama-default-total-height: 354px;
$panorama-default-image: 'bank-sprite.png';
$panorama-default: (0px, 242px, 0px, -242px, 112px, 112px, 484px, 354px, 'bank-sprite.png', 'panorama-default', );
$panorama-pic-name: 'panorama-pic';
$panorama-pic-x: 0px;
$panorama-pic-y: 0px;
$panorama-pic-offset-x: 0px;
$panorama-pic-offset-y: 0px;
$panorama-pic-width: 130px;
$panorama-pic-height: 130px;
$panorama-pic-total-width: 484px;
$panorama-pic-total-height: 354px;
$panorama-pic-image: 'bank-sprite.png';
$panorama-pic: (0px, 0px, 0px, 0px, 130px, 130px, 484px, 354px, 'bank-sprite.png', 'panorama-pic', );
$photo-active-name: 'photo-active';
$photo-active-x: 0px;
$photo-active-y: 130px;
$photo-active-offset-x: 0px;
$photo-active-offset-y: -130px;
$photo-active-width: 112px;
$photo-active-height: 112px;
$photo-active-total-width: 484px;
$photo-active-total-height: 354px;
$photo-active-image: 'bank-sprite.png';
$photo-active: (0px, 130px, 0px, -130px, 112px, 112px, 484px, 354px, 'bank-sprite.png', 'photo-active', );
$photo-default-name: 'photo-default';
$photo-default-x: 224px;
$photo-default-y: 242px;
$photo-default-offset-x: -224px;
$photo-default-offset-y: -242px;
$photo-default-width: 112px;
$photo-default-height: 112px;
$photo-default-total-width: 484px;
$photo-default-total-height: 354px;
$photo-default-image: 'bank-sprite.png';
$photo-default: (224px, 242px, -224px, -242px, 112px, 112px, 484px, 354px, 'bank-sprite.png', 'photo-default', );
$sort-default-name: 'sort-default';
$sort-default-x: 448px;
$sort-default-y: 112px;
$sort-default-offset-x: -448px;
$sort-default-offset-y: -112px;
$sort-default-width: 7px;
$sort-default-height: 10px;
$sort-default-total-width: 484px;
$sort-default-total-height: 354px;
$sort-default-image: 'bank-sprite.png';
$sort-default: (448px, 112px, -448px, -112px, 7px, 10px, 484px, 354px, 'bank-sprite.png', 'sort-default', );
$sort-down-name: 'sort-down';
$sort-down-x: 455px;
$sort-down-y: 112px;
$sort-down-offset-x: -455px;
$sort-down-offset-y: -112px;
$sort-down-width: 7px;
$sort-down-height: 10px;
$sort-down-total-width: 484px;
$sort-down-total-height: 354px;
$sort-down-image: 'bank-sprite.png';
$sort-down: (455px, 112px, -455px, -112px, 7px, 10px, 484px, 354px, 'bank-sprite.png', 'sort-down', );
$sort-up-name: 'sort-up';
$sort-up-x: 462px;
$sort-up-y: 112px;
$sort-up-offset-x: -462px;
$sort-up-offset-y: -112px;
$sort-up-width: 7px;
$sort-up-height: 10px;
$sort-up-total-width: 484px;
$sort-up-total-height: 354px;
$sort-up-image: 'bank-sprite.png';
$sort-up: (462px, 112px, -462px, -112px, 7px, 10px, 484px, 354px, 'bank-sprite.png', 'sort-up', );
$video-active-name: 'video-active';
$video-active-x: 260px;
$video-active-y: 0px;
$video-active-offset-x: -260px;
$video-active-offset-y: 0px;
$video-active-width: 112px;
$video-active-height: 112px;
$video-active-total-width: 484px;
$video-active-total-height: 354px;
$video-active-image: 'bank-sprite.png';
$video-active: (260px, 0px, -260px, 0px, 112px, 112px, 484px, 354px, 'bank-sprite.png', 'video-active', );
$video-default-name: 'video-default';
$video-default-x: 372px;
$video-default-y: 0px;
$video-default-offset-x: -372px;
$video-default-offset-y: 0px;
$video-default-width: 112px;
$video-default-height: 112px;
$video-default-total-width: 484px;
$video-default-total-height: 354px;
$video-default-image: 'bank-sprite.png';
$video-default: (372px, 0px, -372px, 0px, 112px, 112px, 484px, 354px, 'bank-sprite.png', 'video-default', );
$spritesheet-width: 484px;
$spritesheet-height: 354px;
$spritesheet-image: 'bank-sprite.png';
$spritesheet-sprites: ($camera, $flash-active, $flash-default, $folder-small, $folder, $panorama-active, $panorama-default, $panorama-pic, $photo-active, $photo-default, $sort-default, $sort-down, $sort-up, $video-active, $video-default, );
$spritesheet: (484px, 354px, 'bank-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
