.main {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: top .5s;
  width: 750px;
  height: 460px;
  background: #fff;
  @include box-sizing;

  &.search-active {
    top: 102px;
  }

  .pager {
    position: absolute;
    left: 30px;
    bottom: 0;
    //width: 100%;
    //text-align: center;
  }
}

@import "flash/flash-container";
@import "panorama/panorama-container";
@import "photo/photo-container";
//@import "trash/trash-container";
//@import "video/video-container";
