// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sort-default-name: 'sort-default';
$sort-default-x: 0px;
$sort-default-y: 0px;
$sort-default-offset-x: 0px;
$sort-default-offset-y: 0px;
$sort-default-width: 7px;
$sort-default-height: 10px;
$sort-default-total-width: 21px;
$sort-default-total-height: 10px;
$sort-default-image: 'modal-sprite.png';
$sort-default: (0px, 0px, 0px, 0px, 7px, 10px, 21px, 10px, 'modal-sprite.png', 'sort-default', );
$sort-down-name: 'sort-down';
$sort-down-x: 7px;
$sort-down-y: 0px;
$sort-down-offset-x: -7px;
$sort-down-offset-y: 0px;
$sort-down-width: 7px;
$sort-down-height: 10px;
$sort-down-total-width: 21px;
$sort-down-total-height: 10px;
$sort-down-image: 'modal-sprite.png';
$sort-down: (7px, 0px, -7px, 0px, 7px, 10px, 21px, 10px, 'modal-sprite.png', 'sort-down', );
$sort-up-name: 'sort-up';
$sort-up-x: 14px;
$sort-up-y: 0px;
$sort-up-offset-x: -14px;
$sort-up-offset-y: 0px;
$sort-up-width: 7px;
$sort-up-height: 10px;
$sort-up-total-width: 21px;
$sort-up-total-height: 10px;
$sort-up-image: 'modal-sprite.png';
$sort-up: (14px, 0px, -14px, 0px, 7px, 10px, 21px, 10px, 'modal-sprite.png', 'sort-up', );
$spritesheet-width: 21px;
$spritesheet-height: 10px;
$spritesheet-image: 'modal-sprite.png';
$spritesheet-sprites: ($sort-default, $sort-down, $sort-up, );
$spritesheet: (21px, 10px, 'modal-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
