.flash-container {
  @import 'flash';

 .body {
   position: absolute;
   top: 40px;
   width: 100%;
   bottom: 80px;
   background: #fff;
   border: 1px solid #e6ecf2;
   @include box-sizing;
   .pager-region .pager {
     border-top: 1px solid #e6ecf2;
     padding: 30px 0 50px;

   }
 }

  .tabs-region {
    position: absolute;
    top: 30px;
    right: 30px;
    float: right;
    .list-type {
      background-color: #f5f7fa;
      border: 1px solid #ced3d9;
      border-radius: 3px;
      font-size: 0;

      .ob-icon {
        @include inline-block;
        cursor: pointer;
        line-height: 28px;
        padding-left: 10px;
        padding-right: 10px;

        + .ob-icon {
          border-left: 1px solid #ced3d9;
        }

        &.active {
          color: #e64545;
        }
      }
    }
    .pager-simple {
      margin-left: 20px;

      .page {
        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &[disabled] {
          background-color: #edf0f2;
        }
      }
    }
  }

  .flash-wrap {
    position: absolute;
    top: 70px;
    right: 30px;
    left:30px;
    bottom: 30px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
