.header {
  padding-left: 10px;
  padding-right: 10px;

  $line-height: 30px;

  .title {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: $line-height;
  }

  .content {
    text-align: center;
    font-size: 12px;
    line-height: $line-height;
  }
}
