.photo-container {
  @import "filter";
  @import "actions";
  @import 'photos';

  .pager-region .pager {
    padding: 10px 0;
    left: 20px;
  }

  .link-text {
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 12px;
  }
}
