<div class="header">
    <span><%- I18N.selectPhoto %></span>
    <i class="ob-icon icon-delete"></i>
</div>
<div class="body">
    <div class="filter-region"></div>
    <div class="actions-region"></div>
    <div class="photos-region"></div>
    <div class="pager-region"></div>
    <div class="link-text">
        <a href="#"><%- I18N.visitPhotoBank %> <i class="ob-icon icon-right"></i></a>
    </div>
</div>
<div class="footer">
    <button class="btn btn-main btn-small J-confirm"><%- I18N.confirm %></button>
    <button class="btn btn-small btn-cancel"><%- I18N.cancel %></button>
</div>
