<div class="body">
    <div class="tabs-region">
        <div class="fr pager-simple">
            <span class="page-num"><%- currPage %>/<%- totalPage %> <%- I18N.pageSuffix %></span>
            <div class="pager-box cf">
                <button class="page J-toggle-page" data-page="<%- currPage - 1%>"
                <%- currPage === 1 ? 'disabled' : '' %>><i class="ob-icon icon-left"></i></button>
                <button class="page J-toggle-page" data-page="<%- currPage + 1 %>"
                <%- currPage === totalPage ? 'disabled' : '' %>><i class="ob-icon icon-right"></i></button>
            </div>
        </div>
        <div class="fr list-type J-toggle-list-type">
            <i class="ob-icon icon-gallery <%- viewType === 'thumbnail' ? 'active' : '' %>"></i>
            <i class="ob-icon icon-list <%- viewType === 'list' ? 'active' : '' %>"></i>
        </div>
    </div>
    <div class="panorama-wrap">
        <% if(viewType==='thumbnail') {%>
        <div class="panorama-region"></div>
        <div class="pager-region"></div>
        <% } else { %>
        <div class="panorama-region">
            <table class="panorama-table">
                <thead>
                <tr>
                    <td class="panorama-img"></td>
                    <td class="panorama-name"><%- I18N.name %></td>
                    <td class="panorama-size"><%- I18N.size %></td>
                    <td class="panorama-date"><%- I18N.updatedDate %></td>
                </tr>
                </thead>
                <tbody class="panorama-region">
                </tbody>
            </table>
            <div class="pager-region"></div>
        </div>
        <% } %>
    </div>
</div>
